@{
<<<<<<< HEAD
   
}
<h1>@ViewData["Title"]</h1>

<div class="d-flex justify-content-center">
    <form class="card">
        <div class="card-header"></div>

        <div class="card-body">

             <div class="mb-3">
                 <label for="disabledTextInput" class="font-weight-bolder">Ingrese el documento</label>
                 <input type="file" id="disabledTextInput" class="form-control-file" placeholder="Disabled input">
            </div>

            <div class="d-grid gap-2 d-md-flex justify-content-md-end">
                <button type="submit" class="btn btn-primary">Firmar </button>
            </div>
            
        </div>
       
    </form>
</div>
=======
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<p>Use this page to detail your site's privacy policy.</p>
>>>>>>> 4d0bf9229d0979251653b0097628c6a2ccf708b6
